<form *ngIf="object" #form="ngForm" (submit)="save()" novalidate>

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>
    <div mat-dialog-content>

      <div class="row">
        <a-mat-static class="col-md" [object]="object" [roleType]="m.Employment.Employer" display="Name"></a-mat-static>
        <a-mat-autocomplete class="col-md" [object]="object" [roleType]="m.Employment.Employee" display="displayName" [filter]="stateService.peopleFilter.create(allors.context)"></a-mat-autocomplete>
      </div>

      <div class="row">
        <a-mat-datetimepicker class="col-md" [object]="object" [roleType]="m.Employment.From"></a-mat-datetimepicker>
        <a-mat-datetimepicker class="col-md" [object]="object" [roleType]="m.Employment.Through"></a-mat-datetimepicker>
      </div>

    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>